@{
    ViewData["Title"] = "ShzP Portal";
}


<link href="/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet" />


<div class="right_col" role="main">
    <div class="">
        <div>
            <div id="image_apps" class="row1">

                <div class="fullscreen-image image_panel swiper">
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide"><img src="/images/digital1.jpg" /></div>
                        <div class="swiper-slide"><img src="/images/digital4.jfif" /></div>
                        <div class="swiper-slide"><img src="/images/shzp_front3.jpg" /></div>
                        <div class="swiper-slide"><img src="/images/digital6.jpg" /></div>
                        <div class="swiper-slide"><img src="/images/shzp_front4.jpg" /></div>
                        <div class="swiper-slide"><img src="/images/digital3.jpg" /></div>
                        <div class="swiper-slide"><img src="/images/digital5.jpg" /></div>
                        
                    </div>
                    <!-- If we need pagination -->
                    <div class="swiper-pagination"></div>

                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                    <div class="clearfix"></div>
                </div>
                <br>
                <div class="col-md-4 scrollable-box">
                    <div class="x_panel">
                        <div class="x_title fixed-title">
                            <h2> @Localizer["quick_link"] </h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="box_container_panel">
                            <div class="box" role="button" onclick="www.google.com">
                                <a href="https://www.google.com" target="_blank" rel="noopener noreferrer">
                                    <div class="box_Icon11" style="background-image: url('/images/settings1.png');"></div>
                                    <h6>KARIS</h6>
                                </a>
                            </div>

                            <div class="box" role="button" onclick="www.google.com">
                                <a href="https://www.google.com" target="_blank" rel="noopener noreferrer">
                                    <div class="box_Icon11" style="background-image: url('/images/settings2.png');"></div>
                                    <h6>MESTC</h6>
                                </a>
                            </div>

                            <div class="box" role="button" onclick="www.google.com">
                                <a href="https://www.google.com" target="_blank" rel="noopener noreferrer">
                                    <div class="box_Icon11" style="background-image: url('/images/settings3.png');"></div>
                                    <h6>ALICE</h6>
                                </a>
                            </div>

                            <div class="box" role="button" onclick="www.google.com">
                                <a href="https://www.google.com" target="_blank" rel="noopener noreferrer">
                                    <div class="box_Icon11" style="background-image: url('/images/settings4.png');"></div>
                                    <h6>PAD</h6>
                                </a>
                            </div>

                            <div class="box" role="button" onclick="www.google.com">
                                <a href="https://www.google.com" target="_blank" rel="noopener noreferrer">
                                    <div class="box_Icon11" style="background-image: url('/images/settings5.png');"></div>
                                    <h6>D-QS</h6>
                                </a>
                            </div>

                            <div class="box" role="button" onclick="www.google.com">
                                <a href="https://www.google.com" target="_blank" rel="noopener noreferrer">
                                    <div class="box_Icon11" style="background-image: url('/images/settings6.png');"></div>
                                    <h6>CMMS</h6>
                                </a>
                            </div>

                            <div class="box" role="button" onclick="www.google.com">
                                <a href="https://www.google.com" target="_blank" rel="noopener noreferrer">
                                    <div class="box_Icon11" style="background-image: url('/images/settings7.png');"></div>
                                    <h6>WB-PY</h6>
                                </a>
                            </div>

                            <div class="box" role="button" onclick="www.google.com">
                                <a href="https://www.google.com" target="_blank" rel="noopener noreferrer">
                                    <div class="box_Icon11" style="background-image: url('/images/settings8.png');"></div>
                                    <h6>ANDON</h6>
                                </a>
                            </div>

                            <div class="box" role="button" onclick="www.google.com">
                                <a href="https://www.google.com" target="_blank" rel="noopener noreferrer">
                                    <div class="box_Icon11" style="background-image: url('/images/settings9.png');"></div>
                                    <h6>ACPL</h6>
                                </a>
                            </div>

                            <div class="box" role="button" onclick="www.google.com">
                                <a href="https://www.google.com" target="_blank" rel="noopener noreferrer">
                                    <div class="box_Icon11" style="background-image: url('/images/settings10.png');"></div>
                                    <h6>LO-S</h6>
                                </a>
                            </div>

                            <div class="box" role="button" onclick="www.google.com">
                                <a href="https://www.google.com" target="_blank" rel="noopener noreferrer">
                                    <div class="box_Icon11" style="background-image: url('/images/settings11.png');"></div>
                                    <h6>CTDMS</h6>
                                </a>
                            </div>

                            <div class="box" role="button" onclick="www.google.com">
                                <a href="https://www.google.com" target="_blank" rel="noopener noreferrer">
                                    <div class="box_Icon11" style="background-image: url('/images/settings12.png');"></div>
                                    <h6>NGPM</h6>
                                </a>
                            </div>

                            <div class="box" role="button" onclick="www.google.com">
                                <a href="https://www.google.com" target="_blank" rel="noopener noreferrer">
                                    <div class="box_Icon11" style="background-image: url('/images/settings13.png');"></div>
                                    <h6>PCMTC</h6>
                                </a>
                            </div>

                            <div class="box" role="button" onclick="www.google.com">
                                <a href="https://www.google.com" target="_blank" rel="noopener noreferrer">
                                    <div class="box_Icon11" style="background-image: url('/images/settings14.png');"></div>
                                    <h6>KMPEM</h6>
                                </a>
                            </div>

                            <div class="box" role="button" onclick="www.google.com">
                                <a href="https://www.google.com" target="_blank" rel="noopener noreferrer">
                                    <div class="box_Icon11" style="background-image: url('/images/settings15.png');"></div>
                                    <h6>HRWHS</h6>
                                </a>
                            </div>

                            <div class="box" role="button" onclick="www.google.com">
                                <a href="https://www.google.com" target="_blank" rel="noopener noreferrer">
                                    <div class="box_Icon11" style="background-image: url('/images/settings16.png');"></div>
                                    <h6>TMDMS</h6>
                                </a>
                            </div>

                            <div class="box" role="button" onclick="www.google.com">
                                <a href="https://www.google.com" target="_blank" rel="noopener noreferrer">
                                    <div class="box_Icon11" style="background-image: url('/images/settings17.png');"></div>
                                    <h6>I-BIS</h6>
                                </a>
                            </div>

                            <div class="box" role="button" onclick="www.google.com">
                                <a href="https://www.google.com" target="_blank" rel="noopener noreferrer">
                                    <div class="box_Icon11" style="background-image: url('/images/settings18.png');"></div>
                                    <h6>E-AC</h6>
                                </a>
                            </div>

                            <div class="box" role="button" onclick="www.google.com">
                                <a href="https://www.google.com" target="_blank" rel="noopener noreferrer">
                                    <div class="box_Icon11" style="background-image: url('/images/settings19.png');"></div>
                                    <h6>....</h6>
                                </a>
                            </div>

                            <div class="box" role="button" onclick="www.google.com">
                                <a href="https://www.google.com" target="_blank" rel="noopener noreferrer">
                                    <div class="box_Icon11" style="background-image: url('/images/settings20.png');"></div>
                                    <h6>....</h6>
                                </a>
                            </div>

                            <div class="box" role="button" onclick="www.google.com">
                                <a href="https://www.google.com" target="_blank" rel="noopener noreferrer">
                                    <div class="box_Icon11" style="background-image: url('/images/settings21.png');"></div>
                                    <h6>....</h6>
                                </a>
                            </div>

                            <div class="box" role="button" onclick="www.google.com">
                                <a href="https://www.google.com" target="_blank" rel="noopener noreferrer">
                                    <div class="box_Icon11" style="background-image: url('/images/settings22.png');"></div>
                                    <h6>....</h6>
                                </a>
                            </div>

                            <div class="box" role="button" onclick="www.google.com">
                                <a href="https://www.google.com" target="_blank" rel="noopener noreferrer">
                                    <div class="box_Icon11" style="background-image: url('/images/settings23.png');"></div>
                                    <h6>....</h6>
                                </a>
                            </div>

                            <div class="box" role="button" onclick="www.google.com">
                                <a href="https://www.google.com" target="_blank" rel="noopener noreferrer">
                                    <div class="box_Icon11" style="background-image: url('/images/settings24.png');"></div>
                                    <h6>....</h6>
                                </a>
                            </div>

                            <div class="box" role="button" onclick="www.google.com">
                                <a href="https://www.google.com" target="_blank" rel="noopener noreferrer">
                                    <div class="box_Icon11" style="background-image: url('/images/settings25.png');"></div>
                                    <h6>....</h6>
                                </a>
                            </div>

                            <div class="box" role="button" onclick="www.google.com">
                                <a href="https://www.google.com" target="_blank" rel="noopener noreferrer">
                                    <div class="box_Icon11" style="background-image: url('/images/settings12.png');"></div>
                                    <h6>....</h6>
                                </a>
                            </div>

                            <div class="box" role="button" onclick="www.google.com">
                                <a href="https://www.google.com" target="_blank" rel="noopener noreferrer">
                                    <div class="box_Icon11" style="background-image: url('/images/settings12.png');"></div>
                                    <h6>....</h6>
                                </a>
                            </div>
                        </div>
                        <div class="padding-bottom"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-sm-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2> @Localizer["I4.0"] </h2>
                    <div class="clearfix"></div>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-3" role="button">
            <div class="x_panel_2">
                <div class="">
                    <h2 id="capitalizeText">Karis 2.0 System</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content scroll-small-box">
                    <article class="media event">
                        <a class="pull-left date">
                            <p class="month"><b>@Localizer["department"] </b> &nbsp;LOG </p> <p class="day"><b>@Localizer["status"] </b>&nbsp; Active</p>
                            <p class="month"><b>@Localizer["budget"] </b> &nbsp; 70K</p> <p class="day"><b>@Localizer["actual"] 66K</b>&nbsp; </p>
                        </a>
                    </article>
                </div>
            </div>
        </div>

        <div class="col-md-3" role="button">
            <div class="x_panel_2">
                <div class="">
                    <h2 id="capitalizeText"> Andon-Automatically collect & OEE Analysis for WB </h2>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content scroll-small-box">
                    <article class="media event">
                        <a class="pull-left date">
                            <p class="month"><b>@Localizer["department"] </b>   &nbsp;</p> <p class="day"><b>@Localizer["status"] </b>&nbsp; Active</p>
                            <p class="month"><b>@Localizer["budget"] </b> &nbsp; 509,400</p> <p class="day"><b>@Localizer["actual"] </b>&nbsp; 499,400</p>
                        </a>
                    </article>
                </div>
            </div>
        </div>

        <div class="col-md-3" role="button">
            <div class="x_panel_2">
                <div class="">
                    <h2 id="capitalizeText"> Equipment Monitoring System </h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content scroll-small-box">
                    <article class="media event">
                        <a class="pull-left date">
                            <p class="month"><b>@Localizer["department"] </b> &nbsp;  </p> <p class="day"><b>@Localizer["status"] </b>&nbsp; Active</p>
                            <p class="month"><b>@Localizer["budget"] </b>&nbsp; 600K</p> <p class="day"><b>@Localizer["actual"] </b>&nbsp; </p>
                        </a>
                    </article>
                </div>
            </div>
        </div>
        <div class="col-md-3" role="button">
            <div class="x_panel_2">
                <div class="">
                    <h2 id="capitalizeText"> Left-Over System </h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content scroll-small-box">
                    <article class="media event">
                        <a class="pull-left date">
                            <p class="month"><b>@Localizer["department"] </b>&nbsp; LOG </p> <p class="day"><b>@Localizer["status"] </b>&nbsp; Active</p>
                            <p class="month"><b>@Localizer["budget"] </b>&nbsp; 80K</p> <p class="day"><b>@Localizer["actual"] </b>&nbsp; </p>
                        </a>
                    </article>
                </div>
            </div>
        </div>

        <div class="col-md-3" role="button">
            <div class="x_panel_2">
                <div class="">
                    <h2 id="capitalizeText">WA Data Management System</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content scroll-small-box">
                    <article class="media event">
                        <a class="pull-left date">
                            <p class="month"><b>@Localizer["department"] </b>&nbsp; LOG </p> <p class="day"><b>@Localizer["status"] </b>&nbsp; Active</p>
                            <p class="month"><b>@Localizer["budget"] </b>&nbsp; 350K</p> <p class="day"><b>@Localizer["actual"] </b>&nbsp; </p>
                        </a>
                    </article>
                </div>
            </div>
        </div>

        <div class="col-md-3" role="button">
            <div class="x_panel_2">
                <div class="">
                    <h2 id="capitalizeText">MES Tool Control System</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content scroll-small-box">
                    <article class="media event">
                        <a class="pull-left date">
                            <p class="month"><b>@Localizer["department"] </b>&nbsp; LOG </p> <p class="day"><b>@Localizer["status"] </b>&nbsp; Active</p>
                            <p class="month"><b>@Localizer["budget"] </b>&nbsp; 600K</p> <p class="day"><b>@Localizer["actual"] </b>&nbsp; </p>
                        </a>
                    </article>
                </div>
            </div>
        </div>

        <div class="col-md-3" role="button">
            <div class="x_panel_2">
                <div class="">
                    <h2 id="capitalizeText">WB Poka Yoke System</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content scroll-small-box">
                    <article class="media event">
                        <a class="pull-left date">
                            <p class="month"><b>@Localizer["department"] </b>&nbsp;  </p> <p class="day"><b>@Localizer["status"] </b>&nbsp; Active</p>
                            <p class="month"><b>@Localizer["budget"] </b>&nbsp; 400K</p> <p class="day"><b>@Localizer["actual"] </b>&nbsp; </p>
                        </a>
                    </article>
                </div>
            </div>
        </div>

        <div class="col-md-3" role="button">
            <div class="x_panel_2">
                <div class="">
                    <h2 id ="capitalizeText">Central Monitoring and Management System (B/S)</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content scroll-small-box">
                    <article class="media event">
                        <a class="pull-left date">
                            <p class="month"><b>@Localizer["department"] </b>&nbsp;  </p> <p class="day"><b>@Localizer["status"] </b>&nbsp; Active</p>
                            <p class="month"><b>@Localizer["budget"] </b>&nbsp; 500K</p> <p class="day"><b>@Localizer["actual"] </b>&nbsp; </p>
                        </a>
                    </article>
                </div>
            </div>
        </div>
    </div>
  
</div>